<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<form method="post">
    <input type="text" name="{{username}}" value=""/> <br>
    <input type="text" name="{{password}}" value=""/> <br>


    <input type="text" name="username" value=""/> <br>
    <input type="text" name="password" value=""/> <br>
<!--    <input type="checkbox" name="OS1" value="Linux"/> Linux<Br>-->
<!--    <input type="checkbox" name="OS2" value="Windows"/> Windows<Br>-->
<!--    <input type="checkbox" name="OS3" value="MacOS"/> MacOS<Br>-->
<!--    <select size="4" multiple name="hero[]">-->
<!--        <option disabled>Выберите героя</option>-->
<!--        <option value="Чебурашка">Чебурашка</option>-->
<!--        <option selected value="Крокодил">Крокодил</option>-->
<!--        <option selected value="Гена">Гена</option>-->
<!--    </select>-->
<!--    <br>-->
    <input type="submit"/>
</form>

<br>Return <form method="post" action="/form/">  <input type="submit"/> </form>

</body>
</html>

<!--type - определяет внешний вид и функционал-->
<!--name - имя с которым данный элемент попадет в запрос-->
<!--value - начальное знаечение, пользователь может изменить-->
<!--placeholder - подсказка для пользователя-->
